# isso é um comentário, há!

# Ignorando arquivos por extensão
*.doc
*.dox
*.zip

# Ignorando diretórios (ou pastas) por nime teste/
teste/ 

# Ignorando arquivos específicos 
mundial_do_palmeiras.txt
